<div>
  <%= attachment_image_tag @user, :image %>
  <p>ブック名：<%= @user.shop_name %></p>
  <p>説明：<%= @user.introduction %></p>
  <p>ユーザーネーム：<%= @user.user.name %></p>
  <p>投稿日時：<%= @user.created_at.strftime('%Y/%m/%d') %></p>
  <% if @user.user == current_user %>
    <%= link_to "削除", user_path(@user), method: :delete %>
  <% end %>
</div>
